/9780199463732.pdf
/CPPS mod4@AzDOCUMENTS.in.pdf
/CPPS mod5@AzDOCUMENTS.in.pdf
/desktop.ini
/higher-engineering-mathematics-pdf.pdf
/html
/MinGW Installer.lnk
/pavan
/Sublime Text - Shortcut - Copy.lnk
/Visual Studio Code - Copy.lnk
/vtus.pdf
/WhatsApp - Shortcut - Copy.lnk
/Word - Shortcut - Copy.lnk